/*-------------------------------------NAVBAR-------------------------------------------------------------*/

nav img {
    width: 50px;
    height: 50px;
  }

nav {
    background: rgb(246,217,6);
background: linear-gradient(90deg, rgba(246,217,6,1) 0%, rgba(223,152,31,1) 100%);
}
/*--------------------------------------------------------------------------------------------------*/

/*----------------------LOGIN----------------------------------------------------------------------------*/

.form-login {
    width: 400px;
    height: 340px;
    background: #fcb203;
    margin-left: 10px;
    margin-top: 120px;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
    padding: 20px 30px;
    border-top: 4px solid #fcb203;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #70acc7;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }

/*--------------------------------------------------------------------------------------------------*/


.logo {
    margin-left: 10px;
    margin-top: 120px;
}